* {
  color: gainsboro;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url("../assets/background-page.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.btn-float {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.btn-float i {
  font-size: 50px;
}

/* FOOTER DE TODAS LAS PAGES */
.contain-footer {
  background-image: linear-gradient(rgb(226, 0, 0), #470000);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.contain-footer ul,
.contain-footer p {
  list-style-type: none;
  padding: 10px;
}
.contain-footer i {
  font-size: 30px;
}

/* HEADER DE TODAS LAS PAGES */
.contain-header {
  background-image: linear-gradient(rgb(226, 0, 0), #470000);
  padding: 15px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* BARRA DE MENU DEL HEADER */
.contain-menu ul {
  display: flex;
  list-style-type: none;
}

.list-menu li {
  padding-right: 20px;
}
.list-menu li,
.list-menu a {
  text-decoration: none !important;
  color: gainsboro !important;
}

/* MAIN DEL INDEX */
.section-instruments {
  margin: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-bandas {
  background-color: #470000;
  text-align: center;
  padding: 20px;
  margin: 50px;
}
.section-bandas .list-bandas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.section-marcas {
  background-color: #470000;
  text-align: center;
  padding: 20px;
  margin: 50px;
}
.section-marcas .list-marcas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* MAIN DE INSTRUMENTOS */
.contain-main-instrumentos {
  display: grid;
  margin-top: 15px;
  gap: 20px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "tipos logos publicidad" "tipos logos publicidad" "tipos logos publicidad";
}
.contain-main-instrumentos .contain-tipos-instrumentos {
  background-color: #470000;
  padding: 10px;
  grid-area: tipos;
}
.contain-main-instrumentos .contain-logo-instrumentos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 15px;
  grid-area: logos;
}
.contain-main-instrumentos .contain-aside {
  background-color: #470000;
  margin-right: 5px;
  grid-area: publicidad;
}
.contain-main-instrumentos .item-guitarra img:hover,
.contain-main-instrumentos .item-bateria img:hover,
.contain-main-instrumentos .item-bajo img:hover {
  border-radius: 20px;
  transition: transform 0.3s;
  transform: scale(0.8);
}
.contain-main-instrumentos .btns-instrumentos {
  text-align: center;
  margin: 20px;
}
.contain-main-instrumentos .btns-instrumentos a {
  text-decoration: none;
  color: gainsboro;
}

/* MAIN DE CADA INSTRUMENTO */
.contain-main-instrumentos-especifico {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "informacion cards cards" "informacion cards cards" "informacion cards cards";
}
.contain-main-instrumentos-especifico .contain-informacion-instrumentos {
  background-color: #470000;
  padding: 10px;
  margin-top: 20px;
  grid-area: informacion;
}
.contain-main-instrumentos-especifico .contain-img-instrumentos {
  display: grid;
  margin: 20px;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-area: cards;
}
.contain-main-instrumentos-especifico .contain-img-instrumentos .card-img-top {
  height: 180px;
  object-fit: contain;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.493);
}
.contain-main-instrumentos-especifico .contain-img-instrumentos .card-body a {
  background-color: #470000;
  text-decoration: none;
  color: gainsboro;
}
.contain-main-instrumentos-especifico .contain-img-instrumentos .card-body a:hover {
  background-color: #140000;
  text-decoration: none;
}
.contain-main-instrumentos-especifico .contain-img-instrumentos .card-body .card-title,
.contain-main-instrumentos-especifico .contain-img-instrumentos .card-body .card-text {
  color: black;
}

/* MAIN DE SOMOS */
.contain-texto-somos,
.article-casa {
  background-color: #470000;
  text-align: center;
  padding: 20px;
  margin: 50px;
}

.list-casa {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.contain-main-instrumentos-comprados {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}
.contain-main-instrumentos-comprados .card-img-top {
  height: 180px;
  object-fit: contain;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.493);
}
.contain-main-instrumentos-comprados .card-body a {
  background-color: #470000;
  text-decoration: none;
  color: gainsboro;
}
.contain-main-instrumentos-comprados .card-body a:hover {
  background-color: #140000;
  text-decoration: none;
}
.contain-main-instrumentos-comprados .card-body .card-title,
.contain-main-instrumentos-comprados .card-body .card-text {
  color: black;
}

.title-compra {
  margin: 20px;
}

.contain-compra-total {
  margin: 20px;
}

@media screen and (max-width: 320px) and (max-width: 480px) {
  header, footer {
    flex-direction: column;
    width: 100%;
  }
  .contain-menu ul {
    display: flex;
    flex-direction: column;
  }
  .contain-menu ul li {
    margin-bottom: 20px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 980px) {
  header, footer {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  header, footer {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  header, footer {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .boton-float {
    display: block;
  }
  .section-instruments,
  .section-marcas,
  .section-bandas {
    margin: 20px;
  }
  .list-marcas,
  .list-bandas {
    grid-template-columns: 1fr;
  }
  .items-marcas img,
  .items-bandas img {
    max-width: 100%;
    padding-right: 20px;
    height: auto;
  }
}
@media screen and (max-width: 480px) {
  .boton-float {
    display: block;
  }
  .section-instruments,
  .section-marcas,
  .section-bandas {
    margin: 20px;
  }
  .list-marcas,
  .list-bandas {
    grid-template-columns: 1fr;
  }
  .items-marcas img,
  .items-bandas img {
    max-width: 100%;
    padding-right: 20px;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .boton-float {
    display: block;
  }
  .section-instruments,
  .section-marcas,
  .section-bandas {
    margin: 20px;
  }
  .list-marcas,
  .list-bandas {
    grid-template-columns: 1fr;
  }
  .items-marcas img,
  .items-bandas img {
    max-width: 100%;
    padding-right: 20px;
    height: auto;
  }
}
@media screen and (max-width: 1024px) {
  .boton-float {
    display: block;
  }
  .section-instruments,
  .section-marcas,
  .section-bandas {
    margin: 20px;
  }
  .list-marcas,
  .list-bandas {
    grid-template-columns: 1fr;
  }
  .items-marcas img,
  .items-bandas img {
    max-width: 100%;
    padding-right: 20px;
    height: auto;
  }
}
@media screen and (max-width: 1200px) {
  .boton-float {
    display: block;
  }
  .section-instruments,
  .section-marcas,
  .section-bandas {
    margin: 20px;
  }
  .list-marcas,
  .list-bandas {
    grid-template-columns: 1fr;
  }
  .items-marcas img,
  .items-bandas img {
    max-width: 100%;
    padding-right: 20px;
    height: auto;
  }
}
@media screen and (max-width: 320px) and (max-width: 480px) {
  .contain-main-somos {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .article-casa {
    margin: 10px;
  }
  .items-casa {
    padding-top: 10px;
  }
  .items-casa img,
  .items-casa iframe {
    width: 100%;
    height: auto;
  }
}
.contain-menu ul.list-menu li:hover {
  animation: bounce 1s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
.logo-page h1 {
  animation: flipInY 1s forwards;
}

/*# sourceMappingURL=style.css.map */
