@charset "UTF-8";
* {
  color: gainsboro;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url("../assets/background-page.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.btn-float {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.btn-float i {
  font-size: 50px;
}

/* FOOTER DE TODAS LAS PAGES */
.contain-footer {
  background-image: linear-gradient(rgb(226, 0, 0), #470000);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.contain-footer ul,
.contain-footer p {
  list-style-type: none;
  padding: 10px;
}
.contain-footer i {
  font-size: 30px;
}

/* HEADER DE TODAS LAS PAGES */
.contain-header {
  background-image: linear-gradient(rgb(226, 0, 0), #470000);
  padding: 15px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* BARRA DE MENU DEL HEADER */
.contain-menu ul {
  display: flex;
  list-style-type: none;
}

.list-menu li {
  padding-right: 20px;
}
.list-menu li,
.list-menu a {
  text-decoration: none !important;
  color: gainsboro !important;
}

/* MAIN DEL INDEX */
.section-instruments {
  margin: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-bandas {
  background-color: #470000;
  text-align: center;
  padding: 20px;
  margin: 50px;
}
.section-bandas .list-bandas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.section-marcas {
  background-color: #470000;
  text-align: center;
  padding: 20px;
  margin: 50px;
}
.section-marcas .list-marcas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* MAIN DE INSTRUMENTOS PRINCIPAL */
.contain-main-instrumentos {
  margin: 20px;
}
.contain-main-instrumentos .contain-instrumentos-informacion {
  background-color: #470000;
  padding: 15px;
  margin-bottom: 20px;
  height: 180px;
  width: 180px;
}
.contain-main-instrumentos .img-logos-instrumentos img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10%;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.705);
}
.contain-main-instrumentos .btn-logos {
  margin-top: 10px;
  text-align: center;
}

/* MAIN DE CADA INSTRUMENTO */
.contain-instrumentos-especifico {
  margin: 20px;
}
.contain-instrumentos-especifico .contain-instrumentos-informacion {
  background-color: #470000;
  padding: 15px;
  height: 180px;
  width: 180px;
}
.contain-instrumentos-especifico .contain-img-instrumentos {
  margin-left: 50px;
}
.contain-instrumentos-especifico .card-img-top {
  height: 180px;
  object-fit: contain;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.493);
}
.contain-instrumentos-especifico .card-body a {
  background-color: #470000;
  text-decoration: none;
  color: gainsboro;
  height: 100%;
}
.contain-instrumentos-especifico .card-body a:hover {
  background-color: #140000;
  text-decoration: none;
}
.contain-instrumentos-especifico .card-body .card-title,
.contain-instrumentos-especifico .card-body .card-text {
  color: black;
}

/* MAIN DE SOMOS */
.contain-texto-somos,
.article-casa {
  background-color: #470000;
  text-align: center;
  padding: 20px;
  margin: 50px;
}

.list-casa {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.contain-main-instrumentos-comprados {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}
.contain-main-instrumentos-comprados .card-img-top {
  height: 180px;
  object-fit: contain;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.493);
}
.contain-main-instrumentos-comprados .card-body a {
  background-color: #470000;
  text-decoration: none;
  color: gainsboro;
}
.contain-main-instrumentos-comprados .card-body a:hover {
  background-color: #140000;
  text-decoration: none;
}
.contain-main-instrumentos-comprados .card-body .card-title,
.contain-main-instrumentos-comprados .card-body .card-text {
  color: black;
}

.title-compra {
  margin: 20px;
}

.contain-compra-total {
  margin: 20px;
}

.container-form {
  background-color: #470000;
  padding: 20px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 10px 15px rgba(0, 0, 0, 0.747);
}
.container-form label {
  color: black;
}
.container-form .title-contact-form {
  text-align: center;
}
.container-form .btn-contact {
  text-align: center;
}
.container-form .btn-contact .btn-contact-form {
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 320px) {
  .contain-header {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .contain-menu ul {
    flex-direction: column;
    align-items: center;
  }
  .contain-menu ul li {
    margin-bottom: 20px;
    text-align: center;
  }
  .list-casa {
    grid-template-columns: 1fr;
  }
  .items-casa img,
  .items-casa iframe {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 480px) {
  .contain-header {
    padding: 0; /* Ajusta el padding del header y el footer */
    flex-direction: column; /* Asegura que el header y footer se dispongan en columna */
    width: 100%;
  }
  .contain-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos del menú */
  }
  .contain-menu ul li {
    margin-bottom: 20px;
    text-align: center;
  }
  .list-casa {
    grid-template-columns: 1fr; /* Una sola columna para pantallas pequeñas */
  }
  .items-casa img,
  .items-casa iframe {
    width: 100%;
    height: auto; /* Asegura que las imágenes y iframes sean responsivos */
  }
}
@media screen and (min-width: 768px) and (max-width: 980px) {
  header, footer {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  header, footer {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .boton-float {
    display: block;
  }
  .section-instruments,
  .section-marcas,
  .section-bandas {
    margin: 20px;
  }
  .list-marcas,
  .list-bandas {
    grid-template-columns: 1fr;
  }
  .items-marcas img,
  .items-bandas img {
    max-width: 100%;
    padding-right: 20px;
    height: auto;
  }
}
@media screen and (max-width: 480px) {
  .boton-float {
    display: block;
  }
  .section-instruments,
  .section-marcas,
  .section-bandas {
    margin: 20px;
  }
  .list-marcas,
  .list-bandas {
    grid-template-columns: 1fr;
  }
  .items-marcas img,
  .items-bandas img {
    max-width: 100%;
    padding-right: 20px;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .boton-float {
    display: block;
  }
  .section-instruments,
  .section-marcas,
  .section-bandas {
    margin: 20px;
  }
  .list-marcas,
  .list-bandas {
    grid-template-columns: 1fr;
  }
  .items-marcas img,
  .items-bandas img {
    max-width: 100%;
    padding-right: 20px;
    height: auto;
  }
}
@media screen and (max-width: 1024px) {
  .boton-float {
    display: block;
  }
  .section-instruments,
  .section-marcas,
  .section-bandas {
    margin: 20px;
  }
  .list-marcas,
  .list-bandas {
    grid-template-columns: 1fr;
  }
  .items-marcas img,
  .items-bandas img {
    max-width: 100%;
    padding-right: 20px;
    height: auto;
  }
}
@media screen and (max-width: 1200px) {
  .boton-float {
    display: block;
  }
  .section-instruments,
  .section-marcas,
  .section-bandas {
    margin: 20px;
  }
  .list-marcas,
  .list-bandas {
    grid-template-columns: 1fr;
  }
  .items-marcas img,
  .items-bandas img {
    max-width: 100%;
    padding-right: 20px;
    height: auto;
  }
}
@media screen and (max-width: 320px) and (max-width: 480px) {
  .contain-main-somos {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .article-casa {
    margin: 10px;
  }
  .items-casa {
    padding-top: 10px;
  }
  .items-casa img,
  .items-casa iframe {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .contain-main-somos {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .article-casa {
    margin: 10px;
  }
  .items-casa {
    padding-top: 10px;
  }
  .items-casa img,
  .items-casa iframe {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 320px) {
  .card {
    margin: 20px;
  }
  .contain-main-instrumentos-comprados {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .card {
    margin: 20px;
  }
  .contain-main-instrumentos-comprados {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .card {
    margin: 20px;
  }
}
@media screen and (max-width: 918px) {
  .card {
    margin: 20px;
  }
}
.contain-menu ul.list-menu li:hover {
  animation: bounce 1s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
.logo-page h1 {
  animation: flipInY 1s forwards;
}

/*# sourceMappingURL=style.css.map */
