@import '../primary/variables';
@import '../primary/mixins';

//HEADER Y FOOTER RESPONSIVE//
@media screen and (max-width: 320px) and (max-width: 480px) {
    header, footer {
        flex-direction: column;
        width: 100%;
    }
    .contain-menu ul {
        display: flex;
        flex-direction: column;
        li {
            margin-bottom: $base-margin;
            text-align: center;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 980px){
    header, footer{
        width: 100%;
    }
}
@media screen and (max-width: 1024px) {
    header, footer{
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    header, footer{
        width: 100%;
    }  
}