@import '../primary/variables';
@import '../primary/mixins';

//RESPONSIVE DE CADA INSTRUMENTO 
@media screen and (max-width: 320px) {
    .contain-main-instrumentos-especifico {
        display: flex;
        flex-direction: column;

        .contain-img-instrumentos {
            grid-template-columns: 1fr; 
            margin: 0; 
        }
    } 
}

@media screen and (max-width: 480px) {
    .contain-main-instrumentos-especifico {
        display: flex;
        flex-direction: column;

        .contain-img-instrumentos {
            grid-template-columns: 1fr; 
            margin: 0; 
        }
    } 

}

@media screen  and (max-width: 768px){
    .contain-all{
        display: grid;
    }
}
