@import '../primary/variables';
@import '../primary/mixins';

/* MAIN DE INSTRUMENTOS PRINCIPAL */
.contain-main-instrumentos{
    margin: 20px;

    .contain-instrumentos-informacion{
        background-color: $color-secundary;
        padding: 15px;
        margin-bottom: 20px;
        height: 180px;
        width: 180px;
    }

        .img-logos-instrumentos img{
            width: 100%;
            height: auto;
            display: block;
            border-radius: 10%;
            box-shadow: 8px 8px rgba(0, 0, 0, 0.705);
        }
    .btn-logos{
        margin-top: 10px;
        text-align: center;
    }
}


/* MAIN DE CADA INSTRUMENTO */
.contain-instrumentos-especifico{
    margin: 20px;

    .contain-instrumentos-informacion{
        background-color: $color-secundary;
        padding: 15px;
        height: 180px;
        width: 180px;
    }

    .contain-img-instrumentos{
        margin-left: 50px;
    }

.card-img-top {
    height: 180px;
    object-fit: contain;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.493);
}

.card-body {
    a {
        background-color: $btn-background-color;
        text-decoration: none;
        color: $text-color; 
        height: 100%;

        &:hover {
            background-color: darken($btn-background-color, 10%);
            text-decoration: none; 
                }
        }

            .card-title,
            .card-text {
                color: black;
            }
        }
}



