@import '../primary/variables';

/* HEADER DE TODAS LAS PAGES */
.contain-header {
    background-image: $background-gradient;
    padding: $header-padding;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* BARRA DE MENU DEL HEADER */
.contain-menu {
    ul {
        display: flex;
        list-style-type: none;
    }
}

.list-menu {
    li {
        padding-right: 20px;
    }

    li,
    a {
        text-decoration: none !important;
        color: $links-color !important;
    }
}
